body {
	background: blue url("../images/computer.jpg");
	background-size: cover;
}
h1 {
	font-weight: 800;
	background-color: transparent;
	text-align: center;
	color: white;

}
.slogan {
	color: white;
	margin: 0 auto;
	align-items: center;
	display: flex;
	font-size: 15pt;
	font-style: italic;
}
.sloganDiv {
	height:50px;
	width:40%;
	background-color: #000;
	margin: 0 auto;
	align-items: center;
	display: flex;
	border: 1px solid white;
}
.divListOfExpertise {
		color: white;
}
.divContainerOfExpertiseList{
	height:110px;
	width:60%;
	background-color: #000;
	margin: 0 auto;
	align-items: center;
	display: flex;
	border: 1px solid white;
	padding-left: 15px;
}
.divContainerOfSkills{
	height:25%;
	width:25%;
	background-color: #000;
	border: 1px solid white;
	
}
#divFixedContactName {
	position: absolute;
	left: 0%;
	bottom: 5%;

}
.liSkills{
	color: white;
}
.contactMe{
	font-size: 15pt;
	padding-left: 200px;
}

a:link {
	color: black;
	transition: background-color 1s;
	cursor: pointer;
}
a:visited {
	color: green;
}
a:hover { 
	color: white;
  	background-color: purple;
}